{% extends 'base.html' %}
{% load static %}

{% block blog__detail_presentation %}
    <h1>Jeanpy Blog</h1>
{% endblock blog__detail_presentation %}

{% block blog_detail %}
    <!-- ProjectStart -->
    <section id="projects" class="projects-section">
        <h2 class="projects-section-header">{{ post.title }}</h2>
        
        <div class="projects-grid-detail">
            <div>
                <img src="{% static post.image %}" alt="Blog Post Image" class="blog-detail-image">
                <p class="blog-detail-date">Published: {{ post.pub_date_pretty }}</p>
            </div>
            <div class="blog-detail-body">
                    <p>{{ post.body|safe }}</p>
            </div>
        </div>
        <a
        href="{% url 'BlogApp:blog_index' %}#projects"
        class="btn btn-show-all"
        >Back to Blog<i class="fas fa-chevron-right"></i>
      </a>
    </section>
{% endblock blog_detail %}