{% extends 'base.html' %}
{% load static %}

{% block blog__detail_presentation %}
    <h1>Jeanpy Blog</h1>
{% endblock blog__detail_presentation %}

{% block blog_detail %}
    <!-- ProjectStart -->
    <section id="projects" class="projects-section">
        <h2 class="projects-section-header">{{ post.title }}</h2>
        
        <div class="projects-grid-detail">
            <div>
                <img src="{% static post.image %}" alt="Blog Post Image" class="blog-detail-image">
                <p class="blog-detail-date">Published: {{ post.pub_date_pretty }}</p>
            </div>
            <div class="blog-detail-body">
                    <p>{{ post.body|safe }}</p>
            </div>
        </div>
        <a
        href="{% url 'BlogApp:blog_index' %}#projects"
        class="btn btn-show-all"
        >Back to Blog<i class="fas fa-chevron-right"></i>
        </a>
        <div class="blog-detail-comments">
            <h2>Leave a comment:</h2>
            <form action="/blog/{{  post.pk }}/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.author }}
                </div>
                <div class="form-group">
                    {{ form.body }}
                </div>
                <button type="submit" class="btn blog-detail-button">Submit</button>
            </form>
                <h2>Comments:</h2>
                {% for comment in comments %}
                    <hr>
                    <p>Name: {{ comment.author }}</p>
                    <p>Comment: {{ comment.body }}</p>
                    <p>Date: {{ comment.created_on }}</p>
                    {% empty %}
                    <p class="blog-comments-empty">No comments yet!</p>
                {% endfor %}
        </div>
    </section>
{% endblock blog_detail %}