{% extends 'base.html' %}
{% load static %}

  {% block blog_presentation %}
    <h1>Jeanpy Blog</h1>
    <p>Welcome to my blog.</p>
  {% endblock blog_presentation %}

  {% block page_content %}
    <!-- ProjectStart -->
    <section id="projects" class="projects-section">
      <h2 class="projects-section-header">Latest Posts</h2>

      <div class="projects-grid">
      {% for post in latest_posts_list %}
        <a
          href="{% url 'BlogApp:blog_detail' post.pk %}#projects"
          class="project project-title"
        >
          <img
            class="project-image"
            type="image/webp"
            src="{% static post.image %}"
            alt="Blog project image"
          />
          <p class="project-title">
            <span class="code">&lt;</span>
              {{ post.title }}
            <span class="code">&#47;&gt;</span>
          </p>
          <p class="project-summary">
            {{ post.summary|safe }}
          </p>
          <p class="project-date">
            {{ post.pub_date_pretty }}
          </p>
          <p class="project-categories">
            Categories: 
            {% for category in post.categories.all %}
              {{ category.name }}
            {% endfor %}
          </p>
        </a>
      {% endfor %}
    </div>
      <br/>
      <a
        href="https://github.com/JeanFerreira91"
        class="btn btn-show-all"
        target="_blank"
        >Show all<i class="fas fa-chevron-right"></i>
      </a>
    </section>
    {% endblock page_content %}



  
    {% comment %}
    New Page Content
    {% endcomment %}
    {% block page_content_2 %}
    <section id="projects" class="projects-section">
      <h2 class="projects-section-header">Latest Posts</h2>
      <div class="container">
        {% for blog_post in latest_posts_list %}
          <div class="col-md-8">
            <div class="card">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <img class="img-fluid z-depth-1" src="{% static blog_post.image %}" alt="Blog Post Image">
                </div>
              </div>
              <h2><a href="{% url 'BlogApp:blog_detail' blog_post.pk %}">{{ blog_post.title }}</a></h2>
              <p>{{ blog_post.pub_date_pretty }}</p>
              <p>{{ blog_post.body | slice:':100' }}...</p>
              <button type="button" class="btn-sm btn-outline-info btn-link">
                <a href="{% url 'BlogApp:blog_detail' blog_post.pk %}">
                  Read More
                </a>
              </button>
            </div>
          </div>
        {% endfor %}
      </div>
      <a
        href="https://github.com/JeanFerreira91"
        class="btn btn-show-all"
        target="_blank"
        >Show all<i class="fas fa-chevron-right"></i>
      </a>
    </section>
    {% endblock page_content_2 %}