{% extends 'base.html' %}
{% load static %}

{% block portfolio_presentation %}
    <h1>Jean Ferreira</h1>
    <p>Welcome to my website.</p>
  {% endblock portfolio_presentation %}

{% block portfolio_projects %}
    <!-- ProjectStart -->
    <section id="projects" class="projects-section">
        <h2 class="projects-section-header">Finished Projects</h2>
        <div class="projects-grid">
         <a
            href="https://codepen.io/julio-velezmoro/full/PoEpzNb" 
            target="_blank"
            class="project project-title"
          >
            <img
              class="project-image"
              type="image/webp"
              src="https://shots.codepen.io/julio-velezmoro/pen/PoEpzNb-320.webp?version=1650039296"
              alt="project"
            />
            <p class="project-title">
              <span class="code">&lt;</span>
              Survey Form
              <span class="code">&#47;&gt;</span>
            </p>
            
          </a>
          <a
        href="https://codepen.io/julio-velezmoro/full/VwyVEae" 
        target="_blank"
        class="project project-title"
      >
        <img
          class="project-image"
          type="image/webp"
          src="https://shots.codepen.io/julio-velezmoro/pen/VwyVEae-800.webp?version=1650153455"
          alt="project"
        />
        <p class="project-title">
          <span class="code">&lt;</span>
          Portafolio
          <span class="code">&#47;&gt;</span>
        </p>
      </a>
        </div>
          <a
          href="https://github.com/Lakorthus/FreeCodeCamp"
          class="btn btn-show-all"
          target="_blank"
          >Show all<i class="fas fa-chevron-right"></i>
          </a>
      </section>
      <!-- ProjectEnd -->
{% endblock portfolio_projects %}