{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--informacion general-->
    <title></title>
    <meta charset="utf-8" />
    <!-- forma de describir que tipo de caracteres estan en la pagina utf-8 es para EN -->
    <meta name="description" content="" />
    <!--Usado por el search engine-->
    <!--links para ccs file y icono del website-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'ckeditor/ckeditor/contents.css' %}"/> {% endcomment %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link href="" type="image/x-icon" rel="shortcut icon" />
    <link
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      rel="stylesheet"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NavStart  -->
    <nav id="navbar" class="nav">
      <ul class="nav-list">
        <li>
          <a href="{% url 'PortfolioApp:portfolio' %}#welcome-section">About</a>
        </li>
        <li>
          <a href="{% url 'PortfolioApp:portfolio' %}#projects">Work</a>
        </li>
        <li>
          <a href="{% url 'PortfolioApp:portfolio' %}#contact">Contact</a>
        </li>
        <li>
          <a href="{% url 'BlogApp:blog_index' %}#projects">Blog</a>
        </li>
      </ul>
    </nav>
    <!-- NavEnd -->
    <!-- AboutStart -->
    <section id="welcome-section" class="welcome-section">
      {% block blog_presentation %}{% endblock blog_presentation %}
      {% block portfolio_presentation %}{% endblock portfolio_presentation %}
      {% block blog__detail_presentation %}{% endblock blog__detail_presentation %}
      <div class="list-skills">
        <a href="" target="_blank" class="skills"
          ><i class="fa fa-code"></i></a
        >
        <a href="" target="_blank" class="skills"
          ><i class="fab fa-python" aria-hidden="true"></i></a
        >
        <a href="" target="_blank" class="skills"
          ><i class="fa fa-terminal"></i></a
        >
      </div>
    </section>
    <!-- AboutEnd -->

    {% block page_content %}{% endblock page_content %}
    {% block portfolio_projects %}{% endblock portfolio_projects %}
    {% block blog_detail %} {% endblock blog_detail %}

    <!-- ContactStart -->
    <section id="contact" class="contact-section">
      <div class="contact-section-header">
        <h2>Let's work together...</h2>
        <p>as a team</p>
      </div>
      <div class="contact-links">
        <a href="" target="_blank" class="btn contact-details"
          ><i class="fab fa-facebook-square"></i> Facebook</a
        >
        <a id="profile-link" href="" target="_blank" class="btn contact-details"
          ><i class="fab fa-github"></i> GitHub</a
        >
        <a href="" target="_blank" class="btn contact-details"
          ><i class="fab fa-twitter"></i> Twitter</a
        >
        <a href="" target="_blank" class="btn contact-details"
          ><i class="fas fa-at"></i> Send a mail</a
        >
        <a href="tel:976-12-91" class="btn contact-details"
          ><i class="fas fa-mobile-alt"></i> Call me</a
        >
      </div>
    </section>
    <!-- ContactEnd -->
    <!-- FooterStart -->
    <footer>
      <p>
        **This is my first portfolio. All the projects are exercises from
        freecodecamp.
      </p>
      <p>
        &copy; Created by
        <a href="https://github.com/Lakorthus" target="_blank"
          >Julio Velezmoro <i class="fab fa-hammer"></i
        ></a>
      </p>
    </footer>
    <!-- FooterEnd -->
  </body>
</html>